body {
    background-color: black;
}

.titulo {
    color: red;
    text-align: center;
}

.content {
    color: white;
    text-align: center;
}

.footer {
     color: red;
     text-align: center;
}