   h1 {
        text-align: center;
      }

      .section-main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .section-main .first{
        display: block;
        position: relative;
        left: 200px;
    }
      .section-main .second, .section-main .third{
          display: inline-block;
      }


    
      .first {
        background-color: rgb(235, 200, 84);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 200px;
      }

      .second {
        background-color: rgb(219, 219, 219);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 300px;
      }

      .third {
        background-color: rgb(170, 142, 106);
        font-size: 20px;
        height: 50px;
        text-align: center;
        width: 300px;
      }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

    .container li{
        display: block;
    }

    .container h3{
        display: flex;
        justify-content: center;
        align-items: center;
    }